*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body{
    color: #FFF7EA;
}

a{
    text-decoration: none;
}
.underline{
    text-decoration: underline;
}

#hamburger-open{
    z-index: 3;
    width: 50px;
    font-size: 2rem;
    position: fixed;
    top: 5%;
    left: 80%;
    display: block;
}

/*Interactivity*/

.active {
    font-size: 4rem;
    font-weight: bold;
}

                        /*NAV*/
nav {
    display: none;
    background-color: #c58722;
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
}

#hamburger-close{
    width: 50px;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    left: 80%;
}

nav p{
    display: none;
}

nav ul{
    padding-left: 0;
    list-style-type: none;
    font-size: 2.4rem;
    text-align: center;
    
}

nav a{
    color: #FFF7EA;
}

nav ul li{
    padding-top: 5rem;
}


    /* Footer */
footer{
    background-image: url("images/HeroImage.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #c58722;
    padding-top: 4rem;
    padding-bottom: 4rem ;
    text-align: center;
    }
    
.footer-cool ul{
    list-style-type: none;
    padding-left: 0;
    }
.footer-cool p{
    padding-bottom: 1rem;
}
    

                                                    /* HOME */
            /*HERO IMAGE*/
.hero{
    display: block;
}
.hero-image{
    position: relative;
}
.hero-image img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Square Peg', cursive;
}

.hero-action{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-action button{
    font-size: 1.4rem;
    padding: .5rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    background-color: #2F4858;
    border: 0;
}
.hero-action button a{
    color: white;
}

.hero-action button:hover{
    border: 2px solid white;
}

        /*Caroussel*/
.home-blog-container{
    display: none;
}

        /*Explorer*/
.meet-explorer{
    background-color: #2F4858;
    padding-bottom: 4rem;
    grid-gap: 1.5rem;
    align-items: center;
}
    
.explorer-image img{
    width: 100%;
}
    
.explorer-text{
    display: block;
    grid-template-rows: 1fr;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
    
.explorer-text p{
    padding-top: 2rem;
}
    
.explorer-text ul{
    padding-top: 2rem;
    padding-left: 0;
    list-style-type: none;
}
                                                /*About*/
.about-container{
    background-color: #2F4858;
    min-height: 100vh;
}
.about-container h1{
    text-align: center;
    padding-top: 2rem;
}
.about-content{
    width: 80%;
    margin: 0 auto;
}
.about-content div{
    padding-top: 4rem;
}

.last-seen{
    padding-bottom: 2rem;
}

.last-seen img{
    width: 100%;
}

                                                /*Contact*/
.contact-container{
    background-color: #2F4858;
    height: 100vh;
}

.contact-content{
    width: 50%;
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
    color: white;
}

formgroup{
    display: block;
}

formgroup label{
    display: block;
}

.error{
    display: none;
}

#form-btn-hndlr button{
    padding: .3rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    color: #2F4858;
    border: 0;
    background-color: #c58722;
    margin-top: 2rem;
}

#form-btn-hndlr button:hover{
    border: 2px solid white;
}

.contact-success{
    display: none;
}

                                                /*Bloglist*/
.blog-container{
    background-color: #2F4858;
}

.blog-list{
    display: block;
}

.blog-list a{
    color: white;
}

.blog{
    position: relative;
}

.blog img{
    width: 100%;
}

.blog-text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}
.blog-text p{
    padding-top: 20%;
}
.blog-info h2{
    display: none;
}
.section-list ul{
    display: none;
}
.change-blogs{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.change-blogs button{
    font-size: 2rem;   
}
                                                    /*Blog*/

.mainblog-container{
    width: 100%;
    background-color: #2F4858;
    min-height: 100vh;
}

.mainblog-container a{
    color: white;
}
.mainblog-content{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 6rem;
}
.mainblog-content h1{
    text-align: center;
    padding-top: 8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
}
.mainblog-content figure img{
    width: 100%;
    height: 100%;
}

.mainblog-content p{
    padding-bottom: 2rem;
}

.mainblog-list{
    display: none;
}

.mainblog-modal{
    background-color: #2f485897;
    display: none;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}

.mainblog-modal-content img{
    max-width: 100%;
    max-height: 100%;
}

.mainblog-modal-content{
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}


@media screen and (min-width: 950px) {

                                                                            /*Interactivty*/
    .active {
        font-size: 1.2rem;
    }
                                                                            /*Nav*/
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        position: absolute;
        min-height: 10vh;
        padding-top: 1rem;
        background-color: transparent;
    }
    nav ul{
        list-style-type: none;
        padding-left: 0;
        color: #FFF7EA;
        display: flex;
        justify-content: space-evenly;
    }
    
    nav ul li{
        flex-wrap: wrap;
        font-size: 1rem;
        padding-top: 0;
    }
    
    nav p{
        text-align: center;
        font-size: 1.4rem;
        display: block;
    }
    #hamburger-open, #hamburger-close{
        display: none;
    }

                                                                            /*HOME 950*/
    .hero-text{
        top: 40%;
        transform: translate(-50%, -50%);
    }

    .hero-text h1{
        font-size: 7rem;
    }
    
        /* Home Blog Section */
    .home-blog-container{
        display: block;
        background-color: white;
        padding-top: 5rem;
        padding-bottom: 5rem;
        min-height: 100vh;
        position: relative;
        color: #2F4858;
        overflow-y: hidden;
    }
    
    .home-blog-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .home-blog-list a{
        color: white;
    }
    .home-blog{
        position: relative;
    }
    .home-blog img{
        width: 100%;
    }
    
    .home-blog-text{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
    }
    .home-blog-text p{
        padding-top: 20%;
    }
    
    .home-change{
        text-align: center;
        position: absolute;
        bottom: -2%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .home-change button{
        font-size: 2rem;
        background-color: #2F4858;
        border: 0;
        margin: 40px;
        color: white;
    }
    
            /* Explorer */
    .meet-explorer{
        background-color: #2F4858;
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        align-items: center;
    }

    .explorer-image img{
        width: 100%;
    }

    .explorer-text{
        display: block;
        grid-template-rows: 1fr;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }

    .explorer-text p{
        padding-top: 2rem;
    }

    .explorer-text ul{
        padding-top: 2rem;
        padding-left: 0;
        list-style-type: none;
    }
                                                                        /*About 900*/
    .about-container{
        padding-top: 5rem;
    }
    
    .about-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin: 0 auto;
        grid-gap: 2rem;
    }

                                                                        /*Blog List 900*/

        .blog-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
            min-height: 100vh;
            padding-top: 7rem;
        }
        .blog-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5rem;
            row-gap: 1.5rem;
        }

        .blog-info{
            text-align: center;
            position: fixed;
            right: 5%;
            top: 40%;
        }
        .section-list ul{
            list-style-type: none;
            padding-left: 0;
        }

        .section-list ul li{
            list-style-type: none;
            padding-left: 0;
            padding-top: 2rem;
        }

        .change-blogs{
            padding-top: 3rem;
            display: block;
        }
        .blog-info h2{
            display: block;
        }
        .section-list ul{
            display: block;
        }

                                                                        /*Blog 900*/
        .mainblog-container{
            width: 100%;
            background-color: #2F4858;
            display: grid;
            grid-template-columns: 4fr 1fr;
            min-height: 100vh;
            padding-top: 5rem;
        }
        .mainblog-content{
            max-width: 700px;
        }
        .mainblog-content h1{
            padding-top: 4rem;
        }
        .mainblog-content p{
            padding-bottom: 2rem;
            margin: 0 auto;
        }
        .mainblog-content figure img{
            width: 75%;
            height: 75%;
        }
        .mainblog-list{
            display: block;
            margin-top: 8rem;
            margin-bottom: 8rem;
            padding-left: 0;
            list-style-type: none;
            border-left: 2px solid white;
        }
        
        .mainblog-list li{
            padding-top: 1rem;
        }
}
@media screen and (min-width: 1600px) {
                                                                        /*About 1600*/
    .about-content{
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
    }

    .about-content h2{
        padding-bottom: 2rem;
    }
                                                                        /*Bloglist 1600*/
    .blog-container{
        grid-template-columns: 5fr 1fr;
    }
    .blog-list{
        grid-template-columns: 1fr 1fr 1fr;
    }

                                                                        /*Blog 1600*/

    .mainblog-content figure img{
        width: 50%;
        height: 50%;
    }
}