:root{
    --orange: #e78f00;
    --blue: #2F4858;
    --dark-blue: #17242c;
}
button{
    border-radius: 9px;
    background-color: #f5f5f5;
    border-style: none;
    font-weight: bolder;
}
*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body{
    color: #FFF7EA;
}

a{
    text-decoration: none;
}

h2::after{
    content: '';
    background-color: var(--orange);
    width: 30px;
    height: 3px;
    display: block;
}
h1{
    font-family: 'Audiowide', cursive;
}

h2 {
    padding-bottom: 1rem;
    font-family: 'Audiowide', cursive;
    letter-spacing: .1rem;
}

.underline::after{
    content: '';
    background-color: var(--orange);
    width: 30px;
    height: 3px;
    display: block;
}
.blog-line::after{
    content: '';
    background-color: var(--orange);
    width: 10px;
    height: 4px;
    display: block;
    transition: 1s all;
}

.blog-line:hover::after{
    width: 100%;
}

#hamburger-open{
    z-index: 3;
    width: 50px;
    font-size: 2rem;
    position: fixed;
    top: 5%;
    left: 80%;
    display: block;
}

/*Interactivity*/

.active {
    font-size: 4rem;
    font-weight: bold;
}

.active::after{
    content: '';
    background-color: var(--orange);
    width: 120px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.home-blog:hover{
    transition: all 0.2s;
    transform: translatey(-10px);
    box-shadow: 0px 11px 17px 0px var(--orange);
}

.blog:hover{
    transition: all 0.2s;
    transform: translatey(-10px);
    box-shadow: 0px 11px 17px 0px var(--orange);
}

                        /*NAV*/
nav {
    display: none;
    background-color: var(--blue);
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
}

nav p{
    display: none;
    font-family: 'Audiowide', cursive;
}

#hamburger-close{
    width: 50px;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    left: 80%;
}



nav ul{
    padding-left: 0;
    list-style-type: none;
    font-size: 2.4rem;
    text-align: center;
    
}

nav a{
    color: #FFF7EA;
}

nav ul li{
    padding-top: 5rem;
}


    /* Footer */
footer{
    background-color: var(--dark-blue);
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
    padding-bottom: 4rem ;
    width: 90%;
    margin: 0 auto;
    }
    
footer ul{
    list-style-type: none;
    padding-left: 0;
    }
footer p{
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
footer p::after{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--orange);
}

footer a{
    color: white;
}
.footer-nav{
    display: none;
}   

                                                    /* HOME */
            /*HERO IMAGE*/
.hero{
    display: block;
}
.hero-image{
    position: relative;
    background-color: black;
}
.hero-image img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.hero-action{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-action button{
    font-size: 1.4rem;
    padding: .5rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    background-color: var(--orange);
    border: 0;
}
.hero-action button a{
    color: var(--dark-blue);
    font-family: inherit;
}

.hero-action button:hover{
    border: 4px solid white;
    transition: all 0.5s;
}

        /*Caroussel*/
.home-blog-container{
    display: none;
}

        /*Explorer*/
.meet-explorer{
    background-color: var(--blue);
    padding-bottom: 4rem;
    grid-gap: 1.5rem;
    align-items: center;
}
    
.explorer-image img{
    width: 100%;
}
    
.explorer-text{
    display: block;
    grid-template-rows: 1fr;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
    
.explorer-text p{
    padding-top: 2rem;
}
    
.explorer-text ul{
    padding-top: 2rem;
    padding-left: 0;
    list-style-type: none;
}
                                                /*About*/
.about-container{
    background-color: var(--blue);
    min-height: 100vh;
}
.about-container h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-family: 'Audiowide', cursive;
}
.about-content{
    width: 80%;
    margin: 0 auto;
}
.about-content div{
    padding-top: 4rem;
}
.about-content p{
    max-width: 600px;
}
.about-content p:not(:first-child){
    padding-top: 1rem;
}
.last-seen{
    padding-bottom: 2rem;
}

.last-seen img{
    width: 100%;
}

                                                /*Contact*/
.contact-container{
    background-color: var(--blue);
    min-height: 100vh;
}

.contact-content{
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
    color: white;
}

formgroup{
    display: block;
}

formgroup label{
    display: block;
}

.error{
    display: none;
    color: #d43737;
}

#form-btn-hndlr button{
    padding: .3rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    background-color: var(--orange);
    margin-top: 2rem;
}

#form-btn-hndlr button:hover{
    border: 1px solid white;
}

.grid-base input{
    width: 100%;
}
.grid-base{
    padding-top: 1rem;
}
.grid-base textarea{
    width: 100%;
    height: 300px;
}

.contact-success{
    display: none;
}

                                                /*Bloglist*/
.blog-container{
    background-color: var(--blue);
    padding-bottom: 5rem;
}

.blog-list{
    display: block;
}

.blog-list a{
    color: white;
}

.blog{
    position: relative;
    margin: 0;
    padding: 0;
}

.blog img{
    width: 100%;
}

.blog-text{
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.blog-text p{
    padding-top: 20%;
}
.blog-info h2{
    display: none;
}
.section-list ul{
    display: none;
}
.change-blogs{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.change-blogs button{
    font-size: 2rem;   
}
                                                    /*Blog*/

.mainblog-container{
    width: 100%;
    background-color: var(--blue);
    min-height: 100vh;
}

.mainblog-container a{
    color: white;
}
.mainblog-content{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 6rem;
}
.mainblog-content h1{
    text-align: center;
    padding-top: 8rem;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
}
.mainblog-content h1::after{
    content: '';
    width: 40px;
    height: 5px;
    display: block;
    background-color: var(--orange);
}
.mainblog-content figure img{
    width: 100%;
    height: 100%;
}

.mainblog-content p{
    padding-bottom: 2rem;
}

.mainblog-list{
    display: none;
}

.next-prev{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mainblog-modal{
    background-color: var(--dark-blue);
    display: none;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}

.mainblog-modal-content img{
    max-width: 100%;
    height: auto;
}

.mainblog-modal-content{
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}


@media screen and (min-width: 950px) {

                                                                            /*Interactivty 950*/
    .active {
        font-size: 1.2rem;
    }
    .active::after{
        width: 15px;
        height: 3px;
        margin: 0 0;
    }
                                                                            /*Nav 950*/
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        position: absolute;
        min-height: 40px;
        padding-top: 1rem;
        background-color: rgba(0,0,0,0.5);
    }
    nav ul{
        list-style-type: none;
        padding-left: 0;
        color: #FFF7EA;
        display: flex;
        justify-content: space-evenly;
    }
    
    nav ul li{
        flex-wrap: wrap;
        font-size: 1rem;
        padding-top: 0;
    }
    
    nav p{
        text-align: center;
        font-size: 1.4rem;
        display: block;
    }
    #hamburger-open, #hamburger-close{
        display: none;
    }

                                                                            /*Footer 950*/
    .footer-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-nav{
        display: block;
    }
    .footer-content ul li:not(:first-child){
        padding-top: .5rem;
    }
                                                                            /*HOME 950*/
    .hero-image{
        background-color: var(--dark-blue);
    }
    
    .hero-text{
        top: 40%;
        transform: translate(-50%, -50%);
    }

    .hero-text h1{
        font-size: 7rem;
    }
    
        /* Home Blog Section */
    .home-blog-container{
        display: block;
        background-color: var(--dark-blue);
        padding-top: 5rem;
        padding-bottom: 5rem;
        min-height: 100vh;
        position: relative;
        color: #2F4858;
        overflow-y: hidden;
    }
    
    .home-blog-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .home-blog-list a{
        color: white;
    }
    .home-blog{
        position: relative;
    }
    .home-blog img{
        width: 100%;
    }
    
    .home-blog-text{
        position: absolute;
        top: 50%;
        left: 36%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .home-blog-text p{
        padding-top: 20%;
    }
    
    .home-change{
        text-align: center;
        position: absolute;
        bottom: -2%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .home-change button{
        font-size: 2rem;
        margin: 40px;
    }
    
            /* Explorer */
    .explorer-container{
        background-color: var(--blue);
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .meet-explorer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .explorer-image img{
        width: 100%;
    }

    .explorer-text{
        display: block;
        grid-template-rows: 1fr;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }

    .explorer-text p{
        padding-top: 2rem;
    }

    .explorer-text ul{
        padding-top: 2rem;
        padding-left: 0;
        list-style-type: none;
    }
                                                                        /*About 950*/
    .about-container{
        padding-top: 5rem;
    }
    
    .about-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin: 0 auto;
        grid-gap: 2rem;
    }
                                                                        /*Contact 950*/
    
    .contact-container{
        padding-top: 8rem;
    }
    .contact-content{
        padding: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: 0 auto;
        grid-gap: 2rem;
        background-color: var(--dark-blue);
        border-radius: 8px;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .contact-form{
        display: grid;
        grid-template:
                    "a b"
                    "c c"
                    "d d"
                    "e e";
    }

    .grid-base label{
        text-align: left;
    }
    .grid-a{
        grid-area: a;
        width: 99%;
    }
    .grid-b{
        grid-area: b;
        width: 99%;
    }
    .grid-c{
        grid-area: c;
    }
    .grid-d{
        grid-area: d;
    }
    .grid-e{
        grid-area: e;
    }

                                                                        /*Blog List 950*/

        .blog-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
            min-height: 100vh;
            padding-top: 7rem;
        }
        .blog-list-content{
            width: 80%;
            margin: 0 auto;
        }
        .blog-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5rem;
            row-gap: 1.5rem;
        }
        .blog-list h2{
            font-size: 1.3rem;
        }
        .blog-info{
            text-align: center;
            position: fixed;
            right: 15%;
            top: 40%;
        }
        .section-list ul{
            list-style-type: none;
            padding-left: 0;
        }

        .section-list ul li{
            list-style-type: none;
            padding-left: 0;
            padding-top: 2rem;
        }

        .change-blogs{
            padding-top: 3rem;
            display: block;
        }
        .blog-info h2{
            display: block;
        }
        .section-list ul{
            display: block;
        }

                                                                        /*Blog 950*/
        .mainblog-container{
            width: 100%;
            background-color: var(--blue);
            display: grid;
            grid-template-columns: 4fr 1fr;
            min-height: 100vh;
            padding-top: 5rem;
        }
        .mainblog-content{
            max-width: 700px;
        }
        .mainblog-content h1{
            padding-top: 4rem;
        }
        .mainblog-content p{
            padding-bottom: 2rem;
            margin: 0 auto;
        }
        .mainblog-content figure img{
            width: 75%;
            height: 75%;
        }
        .mainblog-list{
            display: block;
            margin-top: 8rem;
            margin-bottom: 8rem;
            padding-left: 0;
            list-style-type: none;
            border-left: 2px solid white;
        }
        
        .mainblog-list li{
            padding-top: 1rem;
            padding-left: .5rem;
        }
        .next-prev p{
            margin: 0;
        }
        
}
@media screen and (min-width: 1600px) {
                                                                        /*Home 1600*/
    .home-blog-list{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
                                                                        /*About 1600*/
    .about-content{
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
    }

    .about-content h2{
        padding-bottom: 2rem;
    }
                                                                        /*About 1600*/
    .contact-content{
        width: 40%;
    }
                                                                        /*Bloglist 1600*/
    .blog-container{
        grid-template-columns: 5fr 1fr;
    }
    .blog-list-content{
        width: 50%;
    }
    .blog-info{
        right: 25%;
    }
                                                                        /*Blog 1600*/

    .mainblog-content figure img{
        width: 50%;
        height: 50%;
    }
}